<div>

    <div ng-repeat="filter in filters" layout="row" class="layout-row">

        <md-input-container style="width: 18%;">
            <md-select ng-model="filter.option" placeholder="Select option" ng-change="filter.onSelect(filter.option)" flex="auto">
                <md-option ng-hide="filters.isFilterSelected(o)" ng-value="o" ng-repeat="o in options">{{ o.label }}</md-option>
            </md-select>
        </md-input-container>

        <span ng-repeat="value in filter.values track by $index" style="margin-left: 10px;width:18%">

            <md-input-container style="width: 100%;" ng-if="!filter.isAutocomplete()">

                <md-select ng-model="filter.values[$index]" ng-change="filter.callback()" placeholder="Select value" ng-if="filter.isOptions()">
                    <md-option ng-hide="filters.isValueSelected(o)" ng-value="o" ng-repeat="o in filter.option.options">{{ o }}</md-option>
                </md-select>

                <input type="text"
                    ng-model="filter.values[$index]"
                    ng-if="filter.isText()"
                    ng-model-onblur
                    ng-change="filter.callback()">

            </md-input-container>

            <md-autocomplete
                placeholder="Search..."
                style="display: inline-block;margin-top: 8px;width: 100%;"
                ng-if="filter.isAutocomplete()"
                md-search-text="searchText"
                md-selected-item="filter.values[$index]"
                md-selected-item-change="filter.callback()"
                md-items="item in filter.option.querySearch(searchText)"
                md-item-text="item"
                md-min-length="0">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
                </md-item-template>
            </md-autocomplete>

        </span>

        <md-input-container style="margin-top: 2px;">
            <md-button ng-show="filter.canAddValue()" ng-click="filter.addValue()" class="md-fab md-primary" style="height: 20px;width: 37px;">
                <md-icon class="fa fa-plus" style="vertical-align: bottom;line-height: 25px;"></md-icon>
            </md-button>
        </md-input-container>

    </div>

    <md-input-container style="margin: 0 0 20px 0;">
        <md-button ng-click="filters.add()" class="md-raised md-primary">Add Filter</md-button>
        <md-button ng-click="filters.removeLast()" class="md-raised">Remove Filter</md-button>
    </md-input-container>

</div>
